<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body card-shadow">
      <h1 class="mt-4">Example</h1>
      <p class="lead mb-3">Welcome <%= name %>
      </p>
      <p>
        <%= email %>
      </p>
      <p>
        <%= pageMessage %>
      </p>
      <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</div>